<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
<header>
    <h1>Book Tracker</h1>
    <nav>
        <a href="{{ url_for('index') }}">Bibliothèque</a>
        <a href="{{ url_for('stats') }}">Statistiques</a>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>

</html>
