<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>

<header>
    <button id="menuButton" class="icon">
        <i class="fa-solid fa-bars"></i>
    </button>

    <h1>
        <a href="{{ url_for('index') }}">Book Tracker</a>
    </h1>
</header>

<nav>
    <a href="{{ url_for('index') }}">
        <i class="fa-solid fa-book"></i>
        Bibliothèque
    </a>
    <a href="{{ url_for('stats') }}">
        <i class="fa-solid fa-chart-line"></i>
        Statistiques
    </a>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>

</html>

<script src="{{ url_for('static', filename='base.js') }}"></script>
